@tailwind base;
@tailwind components;
@tailwind utilities;

.falling-image {
  position: absolute;
  animation: falling 5s linear infinite;
  cursor: pointer;
}
@keyframes falling {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100vh);
  }
}