@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Kaisei Decol', serif;
}

.falling-image {
  position: absolute;
  animation: falling 4s linear infinite;
  cursor: pointer;
}
@keyframes falling {
  to {
    transform: translateY(100vh);
  }
}

.font01 {
  font-family: 'Righteous', cursive;
}